*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #fefcf7;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", "Times new roman", sans-serif;
    font-weight: 900;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--small {
    width: 1140px;
}
