.about-us {
    margin-bottom: 170px;
}

.about-us__inner {
    padding: 137px 85px;
    background-image: url(../images/jpg/about-bg-image.jpg);
    background-position: left 0 bottom -200px;
    border-radius: 10px;
}

.about-us__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about-us__text {
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}
