.countries .container {
    margin-bottom: 170px;
}

.countries__heading {
    margin: 0;
    margin-bottom: 72px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
}

.countries__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.country {
    &::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-bottom: 45px;
        background-image: url(../images/svg/countries/United-Kingdom.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 center;
    }

    &:nth-child(2)::before {
        background-image: url(../images/svg/countries/Canada.svg);
    }

    &:nth-child(3)::before {
        background-image: url(../images/svg/countries/Australia.svg);
    }
}

.country__name {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.country__sublist__item a {
    display: block;
    text-decoration: none;
    color: #333d4b;
}