.create-hero {
    margin-bottom: 170px;
}

.create-hero__inner {
    padding: 134px 85px;
    background-image: url(../images/jpg/create-hero-image.jpg);
    background-position: left 0 bottom -280px;
    border-radius: 10px;
}

.create-hero__heading {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.create-hero__text {
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}
