.nav__list {
    display: flex;
}

.nav__item {
    & + & {
        margin-left: 32px;
    }
}

.nav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;

    &--active, &:hover{
        color: #333D4B;
    }
}
